
@{
    ViewData["Title"] = "Button";
}
<div class="col-12">
    <div class="row pt-5 ">
        <h1>Button</h1>
    </div>
    <div class="row pt-3"> 
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-md-2 pr-4 ">Primary</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-secondary pr-4">Secondary</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-success pr-4">Success</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-info">Info</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-warning">Warning</button>
        </div>
         <div class="col-1">
            <button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-light">Light</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-dark">Dark</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-link">Link</button>
        </div>
        
        
        
        
        
        
        
    </div>
</div>






